@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?xan64c");
  src: url("fonts/icomoon.eot?xan64c#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?xan64c") format("truetype"), url("fonts/icomoon.woff?xan64c") format("woff"), url("fonts/icomoon.svg?xan64c#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}

.icon-facebook:before {
  content: "\ea91";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

a:hover {
  -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

body {
  background-color: #f5f5f5;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: 38px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  h2 {
    font-size: 32px;
  }
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    max-width: 745px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 920px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.fadeIn {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes growing {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes growing {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

button,
a {
  border: 0;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  white-space: nowrap;
  max-width: 210px;
  text-decoration: none;
}

button.btn,
a.btn {
  padding: 10px 15px;
}

button.yellow,
a.yellow {
  background-color: #fbc531;
}

.footer {
  background-color: #2c3e50;
  padding: 50px 20px;
}

.footer p {
  color: #ffffff;
  text-align: center;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 250px;
  margin: 30px auto;
}

.footer__social .icon {
  color: #ffffff;
  font-size: 32px;
}

.nav__content {
  border-bottom: 1px solid #cccccc;
  padding: 10px 15px;
}

@media (min-width: 768px) {
  .nav__content {
    padding: 10px 0;
  }
}

.nav__top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__links {
  display: none;
}

@media (min-width: 992px) {
  .nav__links {
    display: block;
  }
}

.nav__links ul li {
  display: inline-block;
  padding: 0 30px 0 0;
}

.nav__links ul li a {
  color: #2c3e50;
}

.nav__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav__logo img {
  max-width: 50px;
}

.nav__logo span {
  margin-left: 15px;
}

.nav__menu {
  display: none;
}

.nav__menu.show {
  display: block;
  position: absolute;
  top: 0;
  background: #ffd665;
  width: 100%;
  left: 0;
  height: 100vh;
  z-index: 10;
  text-align: center;
}

@media (min-width: 992px) {
  .nav__menu.show {
    display: none;
  }
}

.nav__menu.show button {
  background-color: #2c3e50;
  font-size: 20px;
  position: absolute;
  right: 0;
  padding: 10px 20px;
}

.nav__menu li {
  display: block;
  padding: 20px 0;
}

.nav__menu li:first-of-type {
  margin-top: 40px;
}

.nav__menu li a {
  color: #2c3e50;
  font-size: 20px;
}

.posts {
  background-color: #ecf0f1;
}

.posts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 15px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__info {
  padding: 5px 10px;
}

.posts__info h1 {
  position: relative;
}

.posts__info h1:after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #2c3e50;
  width: 25px;
  left: 0;
  bottom: -5px;
}

.posts__info p {
  margin-top: 20px;
}

.posts__list {
  padding: 5px 10px;
}

.posts__list ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.posts__box {
  background-color: #ffffff;
  margin-left: 15px;
  padding: 5px 10px;
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.posts__title {
  margin-bottom: 15px;
}

.intro {
  background-image: url("images/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 568px) {
  .intro {
    background-position: 100% 140px;
  }
}

@media (min-width: 768px) {
  .intro {
    background-position: 100% 205px;
  }
}

.intro a {
  display: block;
  margin: 20px auto;
  max-width: 220px;
}

.intro h1 {
  margin: 0 auto 30px;
}

@media (min-width: 768px) {
  .intro h1 {
    margin: 0 auto 50px;
  }
}

.intro h1 span {
  position: relative;
}

.intro h1 span:before {
  content: "";
  bottom: -9px;
  background-size: 20px 20px;
  height: 5px;
  background-color: #fbc531;
  border-radius: 6px;
  position: absolute;
  left: 0;
  width: 100%;
}

.intro p {
  font-size: 14px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .intro p {
    font-size: 20px;
    max-width: 290px;
  }
}

.intro__content {
  padding: 60px 40px 20px;
  text-align: center;
}

@media (min-width: 568px) {
  .intro__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 55px 40px 120px;
  }
}

@media (min-width: 768px) {
  .intro__content {
    padding: 70px 40px 80px;
  }
}

@media (min-width: 992px) {
  .intro__content {
    max-width: 920px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .intro__content {
    max-width: 1170px;
    padding: 60px 40px;
  }
}

@media (min-width: 568px) {
  .intro__text {
    text-align: left;
    width: 60%;
  }
}

@media (min-width: 768px) {
  .intro__text {
    width: auto;
  }
}

.intro__logos {
  padding-top: 30px;
}

@media (min-width: 568px) {
  .intro__logos {
    padding: 0;
  }
}

.intro__logos img {
  display: block;
  margin-left: auto;
  max-width: 80px;
  -webkit-animation: growing 1.5s alternate infinite ease-in;
          animation: growing 1.5s alternate infinite ease-in;
}

@media (min-width: 568px) {
  .intro__logos img {
    max-width: 100px;
  }
}

@media (min-width: 768px) {
  .intro__logos img {
    max-width: 130px;
  }
}

@media (min-width: 992px) {
  .intro__logos img {
    max-width: 160px;
  }
}

@media (min-width: 1200px) {
  .intro__logos img {
    max-width: 220px;
  }
}

.banner {
  background-color: #ffffff;
  padding: 40px 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .banner {
    padding: 40px;
  }
}

.banner a {
  display: block;
  margin: 0 auto;
  width: auto;
  max-width: 165px;
  text-align: center;
}

.banner p {
  margin: 0 0 40px;
}

.courses {
  background: url("images/wave2.svg");
  background-repeat: no-repeat;
  padding: 100px 20px;
}

@media (min-width: 768px) {
  .courses {
    padding: 60px 20px;
  }
}

@media (min-width: 992px) {
  .courses {
    background-position: 100% -50px;
  }
}

.courses__intro {
  margin-top: 25px;
  width: 100%;
}

@media (min-width: 768px) {
  .courses__intro {
    margin-top: 100px;
  }
}

@media (min-width: 992px) {
  .courses__intro {
    margin: 150px 0 50px;
  }
}

@media (min-width: 1200px) {
  .courses__intro {
    margin: 210px 0 50px;
  }
}

.courses__intro p {
  text-align: center;
  line-height: 24px;
  margin-bottom: 20px;
  font-size: 14px;
}

@media (min-width: 768px) {
  .courses__intro p {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .courses__intro p {
    margin: 0 auto 30px;
    max-width: 500px;
  }
}

.courses__content {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .courses__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 992px) {
  .courses__content {
    max-width: 920px;
  }
}

@media (min-width: 1200px) {
  .courses__content {
    max-width: 1170px;
  }
}

.course {
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 12px 0px rgba(60, 60, 60, 0.1);
          box-shadow: 0 2px 12px 0px rgba(60, 60, 60, 0.1);
  margin: 0 auto 30px;
  max-width: 290px;
  padding: 10px 15px;
}

@media (min-width: 768px) {
  .course {
    max-width: 220px;
  }
}

@media (min-width: 992px) {
  .course {
    max-width: 250px;
  }
}

@media (min-width: 1200px) {
  .course {
    max-width: 300px;
  }
}

.course__title h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0 15px;
}

@media (min-width: 768px) {
  .course__title h3 {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .course__title h3 {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .course__description {
    min-height: 75px;
  }
}

.course__description p {
  font-size: 14px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .course__description p {
    font-size: 15px;
  }
}

.course__button a {
  display: block;
  margin-left: auto;
  max-width: 110px;
  padding: 8px;
  text-align: center;
  width: auto;
}

.join-us {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .join-us {
    max-width: 745px;
  }
}

@media (min-width: 992px) {
  .join-us {
    max-width: 920px;
  }
}

@media (min-width: 1200px) {
  .join-us {
    max-width: 1170px;
  }
}

.join-us .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .join-us .item {
    margin: 0 auto 30px;
  }
}

.join-us .item__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
}

.join-us .item__image img {
  max-width: 80px;
}

.join-us .item__description {
  width: 70%;
}

@media (min-width: 768px) {
  .join-us .item__description {
    text-align: left;
  }
}

.join-us .item__description h3 {
  margin-bottom: 10px;
}

.join-us .item__description p {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .join-us .item__description a {
    margin: 0;
  }
}

.suscribe {
  background: rgba(255, 255, 0, 0.141176);
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
}

.suscribe h3 {
  margin-bottom: 30px;
}

.suscribe #mc_embed_signup form {
  padding: 0;
}

.suscribe #mc_embed_signup input.email,
.suscribe #mc_embed_signup .button {
  border-radius: 0;
  font-family: "Lato", sans-serif;
  outline: none;
}

.suscribe #mc_embed_signup input.email:focus,
.suscribe #mc_embed_signup .button:focus {
  border: 1px solid #2c3e50;
}

.suscribe #mc_embed_signup .button {
  background: #fbc531;
}

.suscribe #mc_embed_signup .button:hover {
  background-color: #fbc531;
}
/*# sourceMappingURL=styles.css.map */