.banner {
  background-color: #ffffff;
  padding: 40px 20px;
  text-align: center;

  @include breakpoint($sm) {
    padding: 40px;
  }

  a {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 165px;
    text-align: center;
  }

  p {
    margin: 0 0 40px;
  }
}
