.courses {
  background: url("images/wave2.svg");
  background-repeat: no-repeat;
  padding: 100px 20px;

  @include breakpoint($sm) {
    padding: 60px 20px;
  }

  @include breakpoint($md) {
    background-position: 100% -50px;
  }

  &__intro {
    margin-top: 25px;
    width: 100%;

    @include breakpoint($sm) {
      margin-top: 100px;
    }

    @include breakpoint($md) {
      margin: 150px 0 50px;
    }

    @include breakpoint($lg) {
      margin: 210px 0 50px;
    }

    p {
      text-align: center;
      line-height: 24px;
      margin-bottom: 20px;
      font-size: 16px;

      @include breakpoint($sm) {
        margin-bottom: 40px;
      }

      @include breakpoint($md) {
        font-size: 20px;
        line-height: 28px;
        margin: 0 auto 30px;
        max-width: 600px;
      }
    }
  }

  &__content {
    margin: 0 auto;

    @include breakpoint($sm) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    @include breakpoint($md) {
      max-width: 920px;
    }

    @include breakpoint($lg) {
      max-width: 1170px;
    }
  }
}
