.intro {
  background-image: url("images/wave.svg");
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoint($xs-ls) {
    background-position: 100% 140px;
  }

  @include breakpoint($sm) {
    background-position: 100% 205px;
  }

  a {
    display: block;
    margin: 20px auto;
    max-width: 220px;
  }

  h1 {
    margin: 0 auto 30px;

    @include breakpoint($sm) {
      margin: 0 auto 50px;
    }

    span {
      position: relative;

      &:before {
        content: "";
        bottom: -9px;
        background-size: 20px 20px;
        height: 5px;
        background-color: $color-primary;
        border-radius: 6px;
        position: absolute;
        left: 0;
        width: 100%;
      }
    }
  }

  p {
    font-size: 16px;
    line-height: 26px;

    @include breakpoint($sm) {
      font-size: 20px;
      max-width: 290px;
    }
  }

  &__content {
    padding: 60px 40px 20px;
    text-align: center;

    @include breakpoint($xs-ls) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 55px 40px 120px;
    }

    @include breakpoint($sm) {
      padding: 70px 40px 80px;
    }

    @include breakpoint($md) {
      max-width: 920px;
      margin: 0 auto;
    }

    @include breakpoint($lg) {
      max-width: 1170px;
      padding: 60px 40px;
    }
  }

  &__text {
    @include breakpoint($xs-ls) {
      text-align: left;
      width: 60%;
    }

    @include breakpoint($sm) {
      width: auto;
    }
  }

  &__logos {
    padding-top: 30px;

    @include breakpoint($xs-ls) {
      padding: 0;
    }

    img {
      display: block;
      margin-left: auto;
      max-width: 80px;
      animation: growing 1.5s alternate infinite ease-in;

      @include breakpoint($xs-ls) {
        max-width: 100px;
      }

      @include breakpoint($sm) {
        max-width: 130px;
      }

      @include breakpoint($md) {
        max-width: 160px;
      }

      @include breakpoint($lg) {
        max-width: 220px;
      }
    }
  }
}
