.join-us {
  padding: 0 20px;

  @include breakpoint($sm) {
    max-width: 745px;
  }

  @include breakpoint($md) {
    max-width: 920px;
    margin: 0 auto;
    padding: 35px 20px 0;
  }

  @include breakpoint($lg) {
    max-width: 1170px;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @include breakpoint($sm) {
      margin: 0 auto 30px;
    }

    &__image {
      display: flex;
      justify-content: center;
      width: 30%;

      img {
        max-width: 80px;
      }
    }

    &__description {
      width: 70%;

      @include breakpoint($sm) {
        text-align: left;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 20px;
      }

      a {
        @include breakpoint($sm) {
          margin: 0;
        }
      }
    }
  }
}
