* {
  box-sizing: border-box;
}

a {
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;

  &:hover {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  }
}

body {
  background-color: #f5f5f5;
  font-family: $font-primary;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-heading;
  font-family: $font-heading;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: 38px;

  @include breakpoint($sm) {
    font-size: 50px;
  }
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;

  @include breakpoint($sm) {
    font-size: 34px;
  }
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
