.container {
  margin: 0 auto;
  max-width: 100%;

  @include breakpoint($sm) {
    max-width: 745px;
  }

  @include breakpoint($md) {
    max-width: 920px;
  }

  @include breakpoint($lg) {
    max-width: 1170px;
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}
