//Colors
$color-primary: #fbc531;
$color-white: #ffffff;
$color-black: #000000;
$color-blue-dark: #2c3e50;
$color-smoke: #ecf0f1;
$color-gray: #cccccc;
$color-heading: #2c3e50;

//Fonts
$font-primary: "Lato", sans-serif;
$font-heading: "Lato", sans-serif;

//Sizes
$xs: 375px;
$xs-ls: 568px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
